.header {
  background: $dark-blue;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m-size 0;
}

.header_title {
  color: $white;
  text-decoration: none;
  font-size: $font-size-header;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-header-dt;
  }
}

.header_title-icon {
  font-size: $font-size-header-icon;

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-header-icon-dt;
  }
}
