.page-header {
  background: #f1f1f1;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.page-header_title {
  font-size: $font-size-page-header;
  font-weight: 300;
  span {
    font-weight: 700;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-page-header-dt;
  }
}
