* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $m-size;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: $dark-grey;
}

button {
  outline: transparent;
}

.loading {
  background: url("../images/loader.gif") no-repeat center;
  background-size: 50px 50px;

  width: 100vw;
  height: 100vh;
}
