//colors
$white: #fff;
$off-white: #f7f7f7;
$grey: #666;
$light-grey: #999;
$dark-grey: #333;
$dark-blue: #24313f;
$blue: #5e94db;
$error-red: #db4040;

//font-size
$font-size-header: 2rem;
$font-size-header-dt: 2.8rem;

$font-size-header-icon: 5.4rem;
$font-size-header-icon-dt: 6.4rem;

$font-size-page-header: 2.2rem;
$font-size-page-header-dt: 2.6rem;

$font-size-box-icon: 4rem;
$font-size-large: 1.8rem;
$font-size-button: 1.4rem;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 48rem;
